<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.start.mindcafeclonepractice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/mindcafe_clone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mindcafe_clone"
        android:supportsRtl="true"
        android:theme="@style/Theme.MindCafeClonePractice"
        tools:targetApi="31">
        <activity
            android:name=".ChattDetailActivity"
            android:exported="false" />
        <activity
            android:name=".VoiceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ExpertConsultingMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ExpertProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MindPostitActivity"
            android:exported="false" />
        <activity
            android:name=".NoticeActivity2"
            android:exported="false" />
        <activity
            android:name=".OriginalNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".NoticePsychologicalTestActivity"
            android:exported="false" />
        <activity
            android:name=".QandAActivity"
            android:exported="false" />
        <activity
            android:name=".SelectExpertConsultingMenuActivity"
            android:exported="false" />
        <activity
            android:name=".NewExpertDetailActivity"
            android:exported="false" />
        <activity
            android:name=".WriteNextButtonClickActivity"
            android:exported="false" />
        <activity
            android:name=".WriteActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao15d61d8d2d3833bfb11ec220e842ac4f" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>